DATABASE_URL="postgresql://postgres:postgres@localhost:5432/family_budget?schema=public"

# Clave inicial para desbloquear la app en el primer arranque.
DEFAULT_GLOBAL_KEY="1234"

# CRC por 1 USD
DEFAULT_EXCHANGE_RATE="520"

NODE_ENV="development"
